.face{
    height: 400px;
    width: 400px;
    background-color: #ffa511;
    border-radius: 50%;
    padding: 20px;
}
.mouth{
    height: 80px;
    width: 220px;
    background-color: brown;
    transform: translate(88px,240px);
    border-bottom-left-radius: 50px ;
    border-bottom-right-radius: 50px;
}
/* We can do this using inline-Block also */
.leftEye{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    transform: translatex(85px);
}
.rightEye{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    transform: translate(250px,-47px);
}
/* .back{
    height: 450px;
    width: 450px;
    background-color:black;
} */