/* h1{
    color: aliceblue;
}
p{
    color: black;
    background-color: aqua;
} */

/* h2{
    color: orange;
}
button{
    background-color: blue;
    color: black;
}
p{
    background-color: black;
    color: white;
} */

                                /* Practice-LOGO */
/* h1{
    text-align: center;
    color: #ffa511;
    size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    text-decoration:double rgb(103, 103, 255) underline;
    line-height: normal;
    text-transform: uppercase;

} */

                                /* PracticeDay1 */

                                


