div{
    height: 200px;
    width: 400px;
    background-color: blanchedalmond;

    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    
    /* BOrder shorthand */
    border: 5px solid blueviolet;
    border-top: 6px dotted blue;
    /* border radius */
    border-radius: 20px;
    border-top-right-radius: 40px;

    margin: 10px;
    /* margin: 10px 30px 10px; */
}
button{
    padding: 12px;
    /* shortHand */
    padding: 12px 4px 7px 10px;
}


